body{
    background-color: rgb(65,3,122);
}
.search-bar{
    display: flex;
    align-items: center; 
    margin:100px auto;
    background-color: rgb(40,12,66);
    width: 38px;
    border-radius: 100px;
    padding: 4px;
    transition:width 0.4s ease-out;
}
#chkbox:checked~ .search-bar{
    width: 250px;
}
input,::placeholder{
    outline: none;
    border: none;
    background: none;
    color: white;
}
.search-ico{
    width: 12px;
    cursor: pointer;
}
.search-box{
    padding: 10px 13px;
    border-radius: 50%;
    background-color: rgb(93,9,172);
}
.search-input{
    width: 100%;
    padding-left: 10px;
}
#chkbox{
    transform: translateX(-1000%);
}